<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HH Parser</title>

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index">
            <div class="sidebar-brand-text mx-3">HH Analytics</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Requests -->
        <li class="nav-item">
            <a class="nav-link" href="/requests">
                <i class="fas fa-fw"></i>
                <span>Запросы</span></a>
        </li>

        <!-- Nav Item - History -->
        <li class="nav-item active">
            <a class="nav-link" href="/history">
                <i class="fas fa-fw"></i>
                <span>История</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                  {% if session["user_id"] is defined %}
                    <a class="nav-link" href="/logout">
                    <i class="fas fa-fw"></i>
                      <span>{{session["user_name"]}}</span></a>
                  {% else %}
                    <a class="nav-link" href="/login">
                    <i class="fas fa-fw"></i>
                    <span>Войти</span></a>
                  {% endif %}
                </ul>
            </nav>
            <!-- End of Topbar -->
        </div>
        <!-- Begin Page Content -->
        <div class="container-fluid min-vh-100" >

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-900">Результаты запроса</h1>
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <h class="h5 text-gray-900">Топ 10 навыков взятых из описания вакансии</h>
                          <br>
                          {% for item in description %}
                              <li> {{ item }} </li>
                          {% endfor %}
                          <br>

                          <h class="h5 text-gray-900">Топ 10 умений взятых из ключевых навыков</h>
                          {% for item in keyskills %}
                              <li> {{ item }} </li>
                          {% endfor %}
                          <br><br>

                          <h class="h5 text-gray-900">Средние значения зарплат</h>
                          {% for item in salaries %}
                              <li> {{ item }} </li>
                          {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
   </div>
</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; HH Parser</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/static/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/static/vendor/chart.js/Chart.min.js"></script>

</body>

</html>
